.Form {
    border: 1px solid red;
    border-radius: 20px;
    padding: 15px;
}

.boxnput {
    width: 100%;
    height: auto;
}
.para{
    margin: 0;
    padding: 0;
}
.Textarea{
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}