.product {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    min-height: 295px;

    h3 {
        font-size: 12px;
        font-weight: bold;
        font-family: IRANSans;
        padding: 10px;
    }
    

}